body {
  /* background-color: red; */
}

#huge-search-box {
  font-size: 4rem;
  /* what should hte max-width of this be? */
}

#rhyphy-result-set-list .card {
  max-width: 24rem;
  display: inline-block;
}